{% extends "base.html" %}


{% block title %}
<h1>Projects and Publications</h1>
{% endblock %}


{% block content %}

<div class="float-container">

    <div class="float-child">

        <h2>Publications:</h2>
        <p>
            <li>
                Gurbuz, S. Z., Bruggenwirth, S., Reininger, T. J., Gurbuz, A. C., & Smith, G. E. "
                <a href="https://digital-library.theiet.org/content/books/ra/sbra552e">The Role of Neural Networks in Cognitive Radar</a>
                ”. In Mishra, K. V., Shankar, B., & Rangaswamy, M. (Eds.). Next-Generation Cognitive Radar Systems. 
                Institution of Engineering and Technology, 2024.
            </li>
            <li>
                Reininger, T. J. & Smith, G. E., “
                <a href="https://ieeexplore.ieee.org/document/9764211">Deep Deterministic Policy Gradient Artificial Intelligence for Radar Applications</a>
                ,” IEEE RadarConf, 2022, pp. 1-6.
            </li>
            <li>
                Smith, G. E. & Reininger, T. J., “
                <a href="https://ieeexplore.ieee.org/document/9455187">Reinforcement Learning for Waveform Design</a>
                ,” IEEE RadarConf, 2021, pp. 1-6.
            </li>
            <li>
                Reininger, T. J., “
                <a href="https://repository.lib.ncsu.edu/handle/1840.16/10969">Biomimicry of Learning Complex Movements by Coordination of Simple Least-Effort Parts</a>
                ,” Master's Thesis, North Carolina State University, 2016, pp. 1-34.
            </li>

        </p>

    </div>

    <div class="float-child">
        
        <img src="{{url_for('static', filename='puppy_pumpkin.jpg')}}" align="center" style="width:400px;height:400px;"/>

    </div>


</div>


<div class="float-container">

    <div class="float-child2">
        <h2>Projects:</h2>
        <p>
            I am currently building this website. All the code can be found on my GitHub 
            <a href="https://github.com/TaylorReininger/jhu_software_concepts">here</a>. Note: this 
            project is private, and will require access to view. This site is intended to explore 
            the use of the <a href="https://flask.palletsprojects.com/en/stable/">Flask</a> 
            framework. Key concepts explored here are:
            <li>
                Flask with Python
            </li>
            <li>
                HTML
            </li>
            <li>
                Templating
            </li>
            <li>
                CSS
            </li>
            <li>
                <a href="https://getbootstrap.com/">Bootstrap</a> 
            </li>
            
        </p>

        <h4>My general approach is as follows:</h4>
        <p>
            
            <li>
                Use <span class=mono style="color: green">Flask</span> to orchestrate the webapp. Perform routing and facilitate templating to rapidly deploy usable HTML. 
            </li>
            <li>
                All pages are based off a parent template page called <span class=mono style="color: green">base.html</span>.
            </li>
            <li>
                Each child template page inherits from the parent page.
            </li>
            <li>
                Use the <span class=mono style="color: green">render_template</span> method to facilitate routing and to pass variables into the appropriate pages. 
            </li>
            <li>
                Produce a navigation bar at the top of the page using <span class=mono style="color: green">Bootstrap</span>. 
            </li>
            <li>
                Use variables passed into pages to set the title, content, and highlight the current page in the navigation bar. 
            </li>
            <li>
                
            </li>
            <li>
                
            </li>
            <li>
                
            </li>
            <li>
                
            </li>
            
        </p>

    </div>


</div>





{% endblock %}















• Gurbuz, S. Z., Bruggenwirth, S., Reininger, T. J., Gurbuz, A. C., & Smith, G. E. “The Role of Neural Networks in Cognitive Radar”. In Mishra, K. V., Shankar, B., & Rangaswamy, M. (Eds.). Next-Generation Cognitive Radar Systems. Institution of Engineering and Technology, 2024.
• Reininger, T. J. & Smith, G. E., “Deep Deterministic Policy Gradient Artificial Intelligence for Radar Applications,” IEEE RadarConf, 2022, pp. 1-6.
• Smith, G. E. & Reininger, T. J., “Reinforcement Learning for Waveform Design,” IEEE RadarConf, 2021, pp. 1-6.
• Reininger, T. J., “Biomimicry of Learning Complex Movements by Coordination of Simple Least-Effort Parts,” Master’s Thesis, North Carolina State University, 2016, pp. 1-34.