<!-- Inherits from base template -->
{% extends "base.html" %}

<!-- Pass the title into the base template -->
{% block title %}
<h1>Grad School Cafe Data Analysis</h1>
{% endblock %}


<!-- Pass the meat of the page content into the base template -->
{% block content %}


<!-- Create side by side divs to organize the content better -->
<div class="float-container">


    <h2>Analysis</h2>
    <p>Below are the statistics regarding the data pulled from GradCafe. 
    </p>


    <!-- Stats (one per div) -->
    <div class="float-child">
        
        <h4>How many entries do you have in your database who have applied for Spring 2025?</h4>

        <p>Answer: {{ans1}}</p>

    </div>

    <div class="float-child">
        
        <h4>What percentage of entries are from international students (not American or Other) (to two decimal places)?</h4>

        <p>Answer: {{ans2}}</p>

    </div>

    <div class="float-child">
        
        <h4>What is the average GPA, GRE, GRE V, GRE AW of applicants who provide these metrics?</h4>

        <p>Answer: {{ans3}}</p>

    </div>

    <div class="float-child">
        
        <h4>What is the average GPA of American students in Spring 2025?</h4>

        <p>Answer: {{ans4}}</p>

    </div>

    <div class="float-child">
        
        <h4>What percent of entries for Spring 2025 are Acceptances (to two decimal places)?</h4>

        <p>Answer: {{ans5}}</p>

    </div>

    <div class="float-child">
        
        <h4>What is the average GPA of applicants who applied for Spring 2025 who are Acceptances?</h4>

        <p>Answer: {{ans6}}</p>

    </div>

    <div class="float-child">
        
        <h4>How many entries are from applicants who applied to JHU for a masters degrees in Computer Science?</h4>

        <p>Answer: {{ans7}}</p>

    </div>



</div>


{% endblock %}